
body {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
    text-align: center;
    
}

.dv-f li {
    font-size: 20px;
    margin: 10px 0;
    text-decoration: line-through;
}
